Repository youtalk/autoware, changes with the owners that .github/CODEOWNERS names for each.
All owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai, oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

.github/CODEOWNERS:

* ryohsuke.mitsudome@tier4.jp mfc@leodrive.ai

.devcontainer/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
.github/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
ansible/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
docker/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp

use ref_name
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

not cache cuda packages
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

revert to ghcr
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix registry
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

push base-cuda image
  .github/actions/docker-build-and-push-cuda/action.yaml
  docker/docker-bake-cuda.hcl
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

separate jobs
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

wip
  autoware.repos
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

Revert "wip"
  autoware.repos
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

Revert "wip"
  autoware.repos
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

Revert "Revert "wip""
  autoware.repos
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

Revert "fix: remove `ndt_omp` (#5390)"
  autoware.repos
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

add autoware-nightly.repos
  autoware-nightly.repos
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

add health-check-nightly
  .github/actions/docker-build/action.yaml
  .github/workflows/health-check-nightly.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix inputs
  .github/workflows/health-check-nightly.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

rename
  .github/workflows/health-check-nightly.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix merge
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-nightly.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix merge (#132)
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-nightly.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

refine cuda related pkgs build
  docker/Dockerfile
  docker/scripts/build_and_clean.sh
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix ''
  docker/scripts/build_and_clean.sh
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix option
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Revert "fix(docker): add autoware prefix to map_loader (#5451)"
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use docker hub instead
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check-nightly.yaml
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add linefeed
  .github/workflows/health-check-nightly.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add linefeed
  .github/workflows/health-check-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix cache-from/to
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix cache-from/to
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

decrease vcpu
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/health-check-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

feat: use Docker Hub instead (#134)
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check-nightly.yaml
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

echo
  docker/scripts/cleanup_apt.sh
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix
  docker/scripts/cleanup_apt.sh
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove echo
  docker/scripts/cleanup_apt.sh
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

feat: upstream to main (#135)
  autoware-nightly.repos
  autoware.repos
  docker/Dockerfile
  docker/scripts/build_and_clean.sh
  docker/scripts/cleanup_apt.sh
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai, oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

MUST REVERT
  .github/workflows/docker-build-and-push-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change to 16vcpu
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/health-check-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove cache-from/to
  .github/workflows/docker-build-and-push-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use qemu
  .github/workflows/docker-build-and-push-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

MUST REVERT
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Revert "feat: use Docker Hub instead (#134)"
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check-nightly.yaml
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Revert "feat: use Docker Hub instead (#134)" (#138)
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check-nightly.yaml
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use qemu
  .github/workflows/docker-build-and-push-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp
