Repository youtalk/autoware, changes with the owners that .github/CODEOWNERS names for each.
All owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai, oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

MUST REVERT
  .github/workflows/docker-build-and-push-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

MUST REVERT
  .github/workflows/docker-build-and-push-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add base image workflow
  .github/actions/docker-build-and-push-base/action.yaml
  .github/workflows/autoware-base.yaml
  docker/Dockerfile.base
  docker/docker-bake-base.hcl
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

MUST REVERT
  .github/workflows/autoware-base.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

rename
  .github/actions/docker-build-and-push-base/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

rename
  .github/workflows/autoware-base.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix with
  .github/workflows/autoware-base.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change run
  .github/workflows/autoware-base.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix hcl
  .github/actions/docker-build-and-push-base/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add platform
  .github/workflows/autoware-base.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix description
  .github/actions/docker-build-and-push-base/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove checkout
  .github/workflows/autoware-base.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Revert "MUST REVERT"
  .github/workflows/autoware-base.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

MUST CHANGE
  autoware.repos
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

add option
  .github/actions/docker-build/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove entrypoint
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove entrypoint
  docker/Dockerfile.base
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use autoware-base images
  amd64.env
  docker/Dockerfile
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai, oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update health-check
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check-nightly.yaml
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update load-env
  .github/workflows/load-env.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update load-env
  .github/workflows/load-env.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add cleanup_system
  docker/Dockerfile.base
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

feat(docker): introduce `autoware-base` images (#140)
  .github/actions/docker-build-and-push-base/action.yaml
  .github/workflows/autoware-base.yaml
  docker/Dockerfile
  docker/Dockerfile.base
  docker/docker-bake-base.hcl
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change base image
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Revert "Revert "feat: use Docker Hub instead (#134)" (#138)"
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check-nightly.yaml
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix autoware-base
  .github/actions/docker-build-and-push-base/action.yaml
  .github/workflows/autoware-base.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change order
  .github/actions/docker-build-and-push-base/action.yaml
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Update .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Update .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check-arm64.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change module base
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

feat: revert "revert "use Docker Hub instead (#134)"" (#146)
  .github/actions/docker-build-and-push-base/action.yaml
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  .github/workflows/autoware-base.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check-nightly.yaml
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix indent
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update cleanup scripts
  docker/scripts/cleanup_apt.sh
  docker/scripts/cleanup_system.sh
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

feat: upstream to main (#148)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/small-change.md
  .github/PULL_REQUEST_TEMPLATE/standard-change.md
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/pull_request_template.md
  .github/sync-files.yaml
  .github/workflows/comment-on-pr.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check-nightly.yaml
  .github/workflows/health-check.yaml
  .github/workflows/load-env.yaml
  .github/workflows/spell-check-differential.yaml
  .pre-commit-config-ansible.yaml
  amd64.env
  autoware.repos
  docker/Dockerfile
  docker/docker-bake-cuda.hcl
  docker/docker-bake.hcl
  docker/scripts/cleanup_apt.sh
  docker/scripts/cleanup_system.sh
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp, ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

add tag pattern
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix syntax
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add tags
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix prefix and suffix
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add paths arg
  .github/workflows/autoware-base.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add paths arg (#151)
  .github/workflows/autoware-base.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

.github/CODEOWNERS:

* ryohsuke.mitsudome@tier4.jp mfc@leodrive.ai

.devcontainer/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
.github/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
ansible/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
docker/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
