Repository youtalk/autoware, changes with the owners that .github/CODEOWNERS names for each.
All owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai, oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Revert "revert rename"
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

simplify rosdep-depend
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

rename stages
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update docker-bake
  docker/docker-bake.hcl
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update actions
  .github/actions/docker-build-and-push/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix target
  docker/docker-bake.hcl
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix inherits
  docker/docker-bake.hcl
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

feat(docker): separation from `autoware-universe` stage to `autoware-universe-sensing-perception` stage (#5164)
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add universe-sensing-perception stage
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update config
  .github/actions/docker-build-and-push/action.yaml
  docker/docker-bake.hcl
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix registry
  .github/actions/docker-build-and-push/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update docker
  docker/Dockerfile
  docker/docker-bake.hcl
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update action
  .github/actions/docker-build-and-push/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update readme
  docker/README.md
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update action
  .github/actions/docker-build-and-push/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add universe-planning-control-devel
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix copy
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add copy
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix copy
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add linefeed
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add pcl
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add planning-control image
  .github/actions/docker-build-and-push/action.yaml
  docker/Dockerfile
  docker/docker-bake.hcl
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix no cuda tag names
  .github/actions/docker-build-and-push/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

copy all .csv and .png files to images
  .dockerignore
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

wip
  autoware.repos
  docker/Dockerfile
  docker/docker-bake.hcl
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai, oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update action
  .github/actions/docker-build-and-push/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix format
  autoware.repos
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

change dir
  autoware.repos
  docker/Dockerfile
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai, oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

manually revert #5159
  ansible/playbooks/openadkit.yaml
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

install CUDA runtime on base
  ansible/playbooks/openadkit.yaml
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add cuda-devel stage
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove setup_args
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update comments
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update dockerfile
  docker/Dockerfile
  docker/Dockerfile.svg
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update workflow
  .github/actions/docker-build/action.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change run
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix
  .github/actions/docker-build/action.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use buildjet
  .github/workflows/health-check.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update docker-build-and-push
  .github/actions/docker-build-and-push/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

.github/CODEOWNERS:

* ryohsuke.mitsudome@tier4.jp mfc@leodrive.ai

.devcontainer/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
.github/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
ansible/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
docker/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
