Repository youtalk/autoware, changes with the owners that .github/CODEOWNERS names for each.
All owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai, oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

cache ccache again
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change base_image to core
  amd64.env
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

install rosdep and colcon
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

install rosdep
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

rosdep init
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

feat(docker): revert "cache apt archives to the Docker build cache" (#4793)
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

install colcon
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

ccache -s
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add arch prefix
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update -self-hosted
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use 8vcpu
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

rename
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

revert to 16vcpu
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use lib_dir
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

update ccache
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix flags
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change dir
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

du
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

mkdir
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove args
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove duplicate release flag
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove --mount=type=cache
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use mixin instead
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

ccache inline
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

copy from host
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

cache .ccache
  .github/workflows/docker-build-and-push-main.yaml
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

cache .ccache
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove chmod
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add .ccache
  .ccache/.gitkeep
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

revert options
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add rw
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

check ccache
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

mkdir .ccache instead
  .ccache/.gitkeep
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai, oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

ignore .ccache
  .gitignore
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

add ccache roles
  ansible/playbooks/docker.yaml
  ansible/roles/build_tools/tasks/main.yaml
  ansible/roles/ccache/defaults/main.yaml
  ansible/roles/ccache/meta/main.yaml
  ansible/roles/ccache/tasks/README.md
  ansible/roles/ccache/tasks/main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

reomve mkdir
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Revert "reomve mkdir"
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

chmod
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

set CCACHE_DIR
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

test
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

.github/CODEOWNERS:

* ryohsuke.mitsudome@tier4.jp mfc@leodrive.ai

.devcontainer/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
.github/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
ansible/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
docker/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
