Repository youtalk/autoware, changes with the owners that .github/CODEOWNERS names for each.
All owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai, oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

.github/CODEOWNERS:

* ryohsuke.mitsudome@tier4.jp mfc@leodrive.ai

.devcontainer/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
.github/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
ansible/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp
docker/** oguzkaganozt@gmail.com yutaka.kondo@tier4.jp

typo
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

refine cache key
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change dir
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change source dir
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix dir
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

rename dir
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change dir
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

feat(ci): add CPU architecture suffixes to the Docker build cache (#4826)
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use buildjet to self-hosted
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

comment out
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

revert to use cache mount
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
  .gitignore
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp, ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

change dir
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove original .ccache
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

add syntax
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

mkdir
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

disable ansible install
  ansible/playbooks/openadkit.yaml
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

copy from host
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

just test cache mount
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

comment out
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Revert "comment out"
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

Revert "just test cache mount"
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

install sccache and use it
  ansible/playbooks/openadkit.yaml
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix sccache-dist
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

sharing=locked
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix typo
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix dist
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

show stats
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

only build core
  autoware.repos
Owners: ryohsuke.mitsudome@tier4.jp, mfc@leodrive.ai

reorder
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change to inline cache
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

set mutiple cache-from args
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix buildcache image names
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

change tag
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix build-main
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

fix colcon cmake-args
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use mixin
  docker/Dockerfile
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

use platform arg to replace raw string
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

refactor docker-build-and-push
  .github/actions/docker-build-and-push/action.yaml
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

test docker-build-and-push-main
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp

remove free disk
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Owners: oguzkaganozt@gmail.com, yutaka.kondo@tier4.jp
